/* Configuração geral da área de receitas */
.receitas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    max-height: 80vh;
    overflow-y: auto;
}

/* Configuração dos painéis de receitas */
.receita {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.receita img {
    width: 100%;
    border-radius: 8px;
}

.receita h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.receita ul {
    list-style: disc inside;
    margin: 10px 0;
}

.receita p {
    margin: 10px 0;
}

/* Configuração do menu */
nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 10px;
    background-color: #333;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #555;
}

/* Configuração do rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
